@tailwind base;
@tailwind components;

/*
@keyframes scroll {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@layer utilities {
  .animate-scroll {
    animation: scroll 20s linear infinite;
  }
}
 Estilos personalizados para Domiradios */
.header-bg {
  background-image: url('/img/header-bg-desktop.png');
}

@tailwind utilities;
